/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

#root {
  margin: 0 auto;
  text-align: center;
  background: #000;
  color: white;
}
body {
  font-family: "Roboto", sans-serif;
}

h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

/* Timeline Styles */
.timeline {
  position: relative;
  padding: 1rem 0;
}

.timeline-item {
  position: relative;
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.timeline-item.show {
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.custom-logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.custom-logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes custom-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .custom-logo {
    animation: custom-logo-spin infinite 20s linear;
  }
}

.custom-card {
  padding: 2em;
}

.custom-read-the-docs {
  color: #888;
}
